.clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clear { zoom: 1;}
div#v-options {
  width: 760px;
  padding-bottom: 40px;
}
#v-options h1 {
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-weight: normal;
  font-size: 2.2em;
  padding-bottom: 10px;
}
div#vop-header p {
  padding: 15px;
  background: #dcf3db;
  font-size: 1.1em;
  border: 1px solid #c9e6C8;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
div#vop-header p strong { color: #20441e;}
div.v-option h3 {
  margin: 15px 0 0 0;
  padding: 15px 15px 15px 40px;
  font-size: 1.2em;
  color: #4e4c41;
  background: #f1f1f1 url(../images/toggle.gif) no-repeat 10px 13px;
  border: 1px solid #e6e6e6;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  cursor: pointer;
}
div.v-option h3.open {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  background-position: 10px -27px;
}
div.v-option span {
  font-size: .9em;
  font-weight: normal;
  float: right;
  color: #aaa;
}
div.v-option-body {
  margin: 0;
  padding: 15px;
  background: #fbfbfa;
  border: 1px solid #e6e6e6;
  border-top: none;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}
div.v-option-body p.notice {
  padding: 15px;
  line-height: 1.5em;
  background: #fffbcc;
  border: 1px solid #f8f4c7;
  font-size: 1.1em;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
div.v-field {
  margin: 30px 0;
}
div.v-field-d {
  float: right;
  width: 380px;
  padding: 15px;
  background: #f6f6f6;
  color: #777;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
div.v-field.text label, div.v-field.select label, div.v-field.textarea label, div.v-field.colorpicker label {
  display: block;
  padding-bottom: 5px;
}
div.v-field.colorpicker label a {
  font-size: .8em;
  text-decoration: none;
  border-bottom: 1px dotted;
}
div.v-field.text input {
  width: 250px;
  padding: 5px;
}
div.v-field.textarea textarea {
  width: 250px;
  padding: 5px;
  height: 100px;
}
div.v-option div.submit { padding: 0; }
div#vop-body div.v-reset-button { float: right; }
div#vop-body div.v-saveall-button { float: left; }
div#vop-body div.submit input { font-size: 1.1em !important; }
div#vop-body div.submit input.v-reset { font-size: .9em !important; }
div.farbtastic { margin: 10px 0; }
.updated, .error { margin: 5px 15px 2px 0; }